

  <div>
    <h1><%= @cocktail.name  %></h1>
  </div>

  <ul>
    <h5>is made of</h5>
    <% @cocktail.doses.each do |dose|  %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
    </li>
    <% end %>
  </ul>

   <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), :class => "button" %>
  <%= link_to "Back to list of cocktails", root_path, :class => "button" %>


